body,
h1,
h2,
h3,
h4,
h5,
label,
input,
button {
    font-family: "Poppins", sans-serif
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: #F44336;
}

.container {
    padding: 0;
    margin: 0;
}

.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.5rem;
    
}

.topContainer {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.welcomeHeader {
    text-align: center;
    color: white;
    padding-top: 1.5rem;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    width: 50%;

}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: left;
    font-weight: 550;
    color: white;
}

button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 0.3rem;
    width: 25%;
    height: 1.5rem;
}

button:active{
    background-color: black;
}

input{
    border-radius: 0.3rem;
    border-style: none;
    height: 1.5rem;
    width: 100%;
}


.viewContentContainer{
    background-color: white;

}

.SearchBarContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 10rem;
}

.searchBar{
    width: 15%;
    border-color: black;
    border-style: solid;
}

.searchButton{
    background-color: black;
    width: 5%;
   
    color: white;

}

.searchButton:active{
    background-color: white;
}

.tableContainer{
    display: flex;
    flex-direction: column;
   align-items: center;
}

.viewTable{
    text-align: center;

    border-collapse: collapse;
}

th,td{
    border-bottom: #000000
    solid
    2px;

    padding: 2rem;


}



.editButton{
    background-color: greenyellow;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
   
}

.deleteButton{
    background-color: #F44336;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
 
}

.optionsButtonContainer{
    padding-bottom: 0;
    padding-top: 3px;

}

.viewHeader{
    color: black;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: white;
    color: #000000;
    border-radius: 5px;
}

.formDelete{
  width: 100%;
    
}

