*{
    font-family: "Poppins", sans-serif
}

body{
  background-color: #F6F8FA;
    margin: 0;
    padding: 0;
}   

.welcomeHeaders{
    text-align: center;
    font-weight: bolder;
   color: black;
   margin-top: 0rem;
   padding-top: 0rem;
}

.headerText{
    color: black;
}

h1{
    color: #FF1D18;
}



.formContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signInContainer{
    background-color: white;
    padding: 4rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem;
}

.InputContainers{
    justify-content: space-around;
    width: 50%;
    padding-top: 1rem;
}

button{
    margin-top: 1rem;
    background-color: #FF1D18;
    font-size: 1rem;
    width: 50%;
    border-radius: 0.5rem;
    border-style: none;
    font-weight: bold;
    height: 2rem;
}

button:active{
    background-color: black;
}

label,input{
    font-weight: bold;
}