*{
    font-family: "Poppins", sans-serif
}

body{
  background-color: #F6F8FA;
    margin: 0;
    padding: 0;
}   

.mainHeader{
    text-align: center;
    font-weight: bolder;
   color: white;
   margin-top: 0rem;
   padding-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.logoTokoContainer{
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.logoToko{

}
